doctype html(lang='en')

html
    head
        link(rel="stylesheet" href="main.style.css")
        link(rel="icon" type="image/x-icon" href=require(`favicon/favicon.ico`))

    body.cv_container
        .column
            .card-block
                h1.card-titile.name Kostin Sergey
                include cards/about

            .card-block
                h2.card-titile Work expirience
                include cards/job
            
            .card-block
                h2.card-titile Contacts
                include cards/social-net

        .column
            include cards/photo
            
            .card-block
                h2.card-titile Skills
                include cards/skills

        script(src=`${htmlWebpackPlugin.files.main}`)
