@import 'variables';
@import 'cards/cards';
@import 'theme-button';

body {
	border: 0;
    width: 900px;
    background-color: $background-color-light;
    font-family: Verdana;
}

body.light {
    color: $text-color-light;
    background-color: $background-color-light;
}

body.dark {
    color: $text-color-dark;
    background-color: $background-color-dark;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

@font-face {
    font-family: Verdana;
    src: url(fonts/Verdana.ttf);
}

.cv-container {
    margin: 0 auto;
    padding: 2em;
}

.cv-grid-containter {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-auto-flow: row dense;
    column-gap: 1.5em;
    row-gap: 2em;
}

// .cv-grid-containter .column {
//     display: flex;
//     flex-direction: column;
//     row-gap: 2em;
// }

/* Assign elements to the correct column */
.item1, .item2, .item3 { grid-column: 1; } /* Main content */
.item4, .item5, .item6 { grid-column: 2; } /* Sidebar */

@media (max-width: 1250px) {
    .cv-grid-containter {
        grid-template-columns: 1fr;
        column-gap: 1em;
    }

    .item1, .item2, .item3, .item4, .item5, .item6 {
        grid-column: auto;
    }

    /* Reorder for a better reading experience */
    .item4 { order: -1; } /* Move Photo to the top */
    .item3 { order: 6; }

    .profile {
        display: grid;
        place-items: center;
    }
}

.substrate {
    background-color: $highlight-box-color-light;
    border-radius: 1.1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin: 0;
}

.substrate.dark {
    background-color: $highlight-box-color-dark;
}

.indented-paragraph {
    text-indent: 2em;
}
