@import 'variables';
@import 'cards/cards';
@import 'theme-button';

body {
	border: 0;
    width: 900px;
    background-color: $background-color-light;
    font-family: Verdana;
}

body.light {
    color: $text-color-light;
    background-color: $background-color-light;
}

body.dark {
    color: $text-color-dark;
    background-color: $background-color-dark;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

@font-face {
    font-family: Verdana;
    src: url(fonts/Verdana.ttf);
}

.cv-container {
    margin: 0 auto;
    padding: 2em;
}

.cv-grid-containter {
    display: grid;
    grid-template-columns: 8fr 4fr;
    column-gap: 1.5em;
}

.cv-grid-containter .column {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.substrate {
    background-color: $highlight-box-color-light;
    border-radius: 1.1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin: 0;
}

.substrate.dark {
    background-color: $highlight-box-color-dark;
}