@import 'variables';
@import 'cards/cards';

body {
    margin: 0;
	padding: 0;
	border: 0;

    width: 900px;
    // height: 700px;

    background-color: #FAF7F0;
    font-family: Verdana;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

@font-face {
    font-family: Verdana;
    src: url(fonts/Verdana.ttf);
}

.cv_container {
    margin: 0 auto;
    padding: 2em;
    display: grid;
    grid-template-columns: 8fr 4fr;
    column-gap: 1.5em;
}

.cv_container .column {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

// .card-block {
   
// }