$background-color-light: #FAF7F0;
$card-base-color-light:  #98a8f8d9;
$border-color-light: #cdfcf6b2;
$skill-box-color-light: #BCCEF8;
$text-color-light: black;
$highlight-box-color-light: #BCCEF8;
$theme-toggle-light: #d8dbe0;

$background-color-dark: #1c1b1b;
$text-color-dark: #FAF7F0;
$card-base-color-dark: #2f3135c6;
$border-color-dark: #2f3135c6;
$skill-box-color-dark: #707070;
$highlight-box-color-dark: #707070;
$theme-toggle-dark: #28292c;

$card-base-brdr-radius: 1em;
$card-base-padding: 0.8em;



