-
    const about = "Hello. I'm C++ developer, I've been use this language more than 5 years and I have 3 years commertial exprience." |
    "I've gradueted bachelor computer science spectialist in Saint-Petersburg University also known as 'ETU LETI'"

.card.about
    h2 Kostin Sergey
    p= about
