
.card.about
    p.indented-paragraph.
        Hello, I am a highly skilled C++ developer with 5 years 
        of commercial experience. I hold a bachelor's degree in computer science 
        from Saint-Petersburg University (also known as 'ETU LETI'), 
        and I am passionate about developing high-quality software 
        solutions that solve complex issues.

