@import '../variables';
@import 'contacts';
@import 'job';
@import 'skills';
@import 'languages';

.card {
    background-color: $card-base-color-light;
    border-radius: $card-base-brdr-radius;
    padding: $card-base-padding;
}

.card.dark {
    background-color: $card-base-color-dark;
}

.card-titile {
    // height: 2em;
    border-radius: 1.5em;
    margin: 0;
}

.card-titile.name {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 42;
}

.profile {
    background-color: $background-color-light;
}

.profile.dark {
    background-color: $background-color-dark;
}

.img-contrainer {
    width: 20em;
    height: 20em;
    background-color:  $card-base-color-light;
    border-radius: 10em;
}

.img-contrainer.dark {
    background-color:  $card-base-color-dark;
}

.profile-img {
    width: 18em;
    border-radius: 9em;
    margin-left: 1em;
    margin-top: 1em;
}



