@import '../variables';
@import 'contacts';
@import 'job';
@import 'skills';

.card {
    background-color: $card-base-color;
    border-radius: $card-base-brdr-radius;
    padding: $card-base-padding;
}

.card-titile {
    // background-color: #BCCEF8;
    height: 2em;
    border-radius: 1.5em;
    text-align: center;
    margin: auto;
}

.profile {
    background-color: #FAF7F0;
}

.img_contrainer {
    width: 20em;
    height: 20em;
    background-color:  $card-base-color;
    border-radius: 10em;
}

.profile_img {
    width: 18em;
    border-radius: 9em;
    margin-left: 1em;
    margin-top: 1em;
}



