
.social-net-block {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;

    line-height: 2em;
    vertical-align: middle;
    
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.social-net-block p {
    margin: 0;
}

.social-net-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.2em;
    row-gap: 0.5em;
}

.sn-img-container {
    width: 1em;
}
