.job-title {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    line-height: 2.2em;
    // vertical-align: bottom;
    align-items: center;
}

.job-title p, h4, h5 {
}

.job-link-img {
    width: 1em;
}

.job-title a:-webkit-any-link  {
    text-decoration: none;
    color: black;
    text-align: center;
}