
-
    const oktet = `I was expanding and developing of tests for several parts
                   the network softeware whitch based on small linux distro.
                   Also fixed or improve already used parts.`

    const konfi = `I'd developing information security system for linux.
                   We are devide solid system to microservices based
                   self developed message bus. Also I redisign several
                   miscroservices, improve performance audit system, create
                   new database module and so on. Also was develop new non blocking
                   client side interface on Qt widgets.`

    const grbrt = `I'm working on cloud CAD projects. I mostly busy with developing new features
                   for several projects and support old code.`

    const job_list = [        
        { "title": "OktetLabs", "desc": oktet, "link": "http://oktetlabs.com", "v_link":"oktetlabs.com" },
        { "title": "Konfident", "desc": konfi, "link": "https://dallaslock.ru", "v_link":"dallaslock.ru" },
        { "title": "Graebert",  "desc": grbrt, "link": "https://www.graebert.com", "v_link":"graebert.com" }
    ]

mixin job_card(title, desc, link, v_link)
    .job-description
        .job_title
            h4.job_title= title
            a.job_link(href=link)
                img.job_link_img(src=require(`images/link.svg`) alt="job link")

        p.job_description= desc

.card.expirience
    .job-list
        each j in job_list
            +job_card(j.title, j.desc, j.link, j.v_link)
