
-
    const oktet = `In my previous role at OktetLabs, I worked on expanding 
                   and developing tests for several parts of the network 
                   software which was based on a small Linux distro. 
                   I also fixed and improved existing code, gaining 
                   valuable experience with Linux sockets and traffic 
                   exploration using tools like Wireshark.`

    const konfi = `I developed an information security system for Linux, 
                   where we divided the solid system into microservices 
                   based on our self-developed message bus. I redesigned 
                   several microservices, improved performance of the audit 
                   system, and created a new database module, among other 
                   responsibilities. Additionally, I developed a new 
                   non-blocking client-side interface on Qt widgets.`

    const grbrt = `I'm currently working on cloud CAD projects, and 
                   my responsibilities include developing new features 
                   and supporting existing code. I've been working on 
                   a constraints project to enhance the functionality 
                   of the web application. This involves upgrading sketch 
                   commands to automatically create constraints and 
                   implementing various related features. I handle both 
                   the backend and client-side development.`

    const job_list = [        
        { "title": "OktetLabs", "desc": oktet, "link": "http://oktetlabs.com", "v_link":"oktetlabs.com" },
        { "title": "Konfident", "desc": konfi, "link": "https://dallaslock.ru", "v_link":"dallaslock.ru" },
        { "title": "Graebert",  "desc": grbrt, "link": "https://www.graebert.com", "v_link":"graebert.com" }
    ]

mixin job_card(title, desc, link, v_link)
    .job-description
        .job-title
            h4.substrate.job-title= title
            a.job-link(href=link)
                img.job-link-img(src=require(`images/link.svg`) alt="job link")

        p.indented-paragraph.job-description= desc

.card.expirience
    .job-list
        each j in job_list
            +job_card(j.title, j.desc, j.link, j.v_link)
