
-
    const skill_list = {
        "Major" : ["C++/C", "Js/Ts", "UNIX API", "Linux", "Multithreading", 
                   "Network Programming","Algorithms", "Parrallel Programming", 
                   "Data Structures", "Design Patterns"],
        "Minor" : ["Golang", "python", "bash"],
        "Other" : ["CMake", "make", "vspkg", "Docker", "CrossBuild", "Git",
                   "Jenkins", "gdb", "Valgrind", "CI/CD", "Unit Tests", "Agile/Scrum"],
        "Frameworks/Libraries" : ["Boost", "Qt", "Wt", "ODA", "Eigen", "OpenCV", "ReactJS", "ZeroMQ"]
    }

mixin skill_box(name)
    p.substrate.skill-box= name

.card.skills
    .skill-list
        each value, key in skill_list
            .skill-row
                p.skill-name= key
                each sk in value
                    +skill_box(sk)


