
-
    const skill_list = {
        "Major" : ["C++/C", "Js/Ts", "UNIX API"],
        "Minor" : ["Golang", "Python3", "bash/sh"],
        "Other" : ["CMake", "Docker", "CrossBuild"],
        "Frameworks in use" : ["Qt", "Wt", "ODA", "Eigen", "OpenCV", "ReactJS"]
    }

mixin skill_card(name)
    p.skill-card= name

.card.skills
    .skill-list
        each value, key in skill_list
            .skill-row
                p.skill-name= key
                each sk in value
                    +skill_card(sk)


