.skills {

}

.skill-list {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.skill-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5em;
    row-gap: 0.3em;

    line-height: 2em;
    vertical-align: middle;
}

.skill-row p {
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.skill-name {
    border-style: solid;
    border-color: $border-color-light;
    border-radius: 1.1em;
}

.skill-box {
    text-align: center;
    align-self: center;
}

.skill-box.dark {
    background-color: $skill-box-color-dark;
}