

-
    const sosial_net_list = [
        { "name": "@catogrammer",
          "link": "https://t.me/catogrammer",
          "img":  "telegram.svg" },
        { "name": "@catogrammer", 
          "link": "https://github.com/catogrammer",
          "img":  "github.svg" },
        { "name": "catogrammer@gmail.com", "link": "", "img": "email.svg" },
        { "name": "@serega_kostin", "link": "", "img": "instagram.svg" },
    ]

mixin social_net_card(src, name, link)
    .social-net-card
        .sn-img-container
            img.sn_link(src=require(`images/${src}`) alt="social-net link")
        p.social_net_name= name

.card.contacts
    .social-net-list
        each sn in sosial_net_list
            +social_net_card(sn.img, sn.name, sn.link)
