

-
    const sosial_net_list = [
        { "name": "@catogrammer",
          "link": "https://t.me/catogrammer",
          "img":  "telegram.svg" },
        { "name": "@catogrammer",
          "link": "https://github.com/catogrammer",
          "img":  "github.svg" },
        { "name": "catogrammer@gmail.com", "link": "", "img": "email.svg" },
        { "name": "@catogrammer",
          "link": "https://www.linkedin.com/in/catogrammer/", "img": "linkedin.svg" },
    ]

mixin social_net_card(src, name, link)
    .substrate.social-net-block
        img.sn-img-container(src=require(`images/${src}`) alt="social-net link")
        p.social_net_name= name

.card.contacts
    .social-net-list
        each sn in sosial_net_list
            +social_net_card(sn.img, sn.name, sn.link)
